body {
    font-family: Palatino, Georgia;
    background-color: #ffe;
}

a {
    color: #c00;
}

.senses a {
    font-style: italic;
}

.term {
    font-size: 1.3em;
}

.term .index {
    color: #c00;
    font-size: .6em;
    vertical-align: top;
    font-weight: normal;
    /* font-style: italic; */
    font-family: Helvetica;
}

.term .phon {
    font-weight: normal;
}

.sense .lex {
    font-style: italic;
    margin-bottom: .5em;
}

.sense .definitions {
    margin-bottom: 1em;
    padding-left: 2em;
}

.sense .definitions li {
    font-family: Helvetica;
    font-size: .7em;
    color: #c00;
}

.sense .definitions li span.singledef {
    font-family: Palatino, Georgia;
    font-size: 1.3em;
    line-height: 1.6em;
    color: #000;
}

.singledef .usage {
    font-style: italic;
}

.etym {
    margin-bottom: 1.3em;
}

footer {
    border-top: 1px solid #ccb;
    margin-top: 1.5em;
    padding-top: .5em;
    font-size: .8em;
}
