body {
    font-family: Palatino;
    background-color: #ffe;
    background-image: url('Background.png') repeat-x repeat-y;
    padding: .2em;
}

a {
    color: #c00;
    text-decoration: none;
}

.senses {
    margin-bottom: 1.5em;
}

.senses a {
    font-style: italic;
}

.term {
    font-size: 1.3em;
}

.term .index {
    color: #c00;
    font-size: .6em;
    vertical-align: top;
    font-weight: normal;
    /* font-style: italic; */
    font-family: Helvetica;
}

.term .phon {
    font-weight: normal;
}

.sense .lex {
    font-style: italic;
    margin-bottom: .5em;
}

.sense .definitions,
.homonyms .entries {
    margin-bottom: 1em;
    padding-left: 2em;
}

.sense .definitions li {
    font-family: Helvetica;
    font-size: .7em;
    color: #c00;
}

.sense .definitions li span.singledef {
    font-size: 1.4em;
}

.sense .definitions li span.singledef {
    font-family: Palatino;
    line-height: 1.6em;
    color: #000;
}

.singledef .usage {
    font-style: italic;
}

.etym {
    margin-bottom: 1.3em;
}

aside h2 {
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: 0;
    font-weight: bold;
}

aside.homonyms {
}

aside .entries {
    list-item: none;
}

aside .term {
    font-size: 1em;
    display: inline-block;
    padding-right: 1em;
}

aside .term .index {
    font-size: .8em;
}

footer {
    font-family: Helvetica;
    border-top: 1px solid #ccb;
    margin-top: 1.8em;
    padding-top: .5em;
    font-size: .7em;
}
